/* CSSから別なCSSを読み込むためには@importが必要 */
@import url(sanitize.css);

body {
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.container {
    width: 800px;
    /* https://developer.mozilla.org/ja/docs/Web/CSS/box-shadow */
    /*  CSS のプロパティで、要素のフレームの周囲にシャドウ効果を追加します。
        カンマで区切ることで、複数の効果を設定することができます。
        ボックスの影は要素からの相対的な X および Y のオフセット、ぼかしと拡散の半径、色で記述します。 */
    /* box-shadow: 0 0 10px は、左から右にx軸を0ずらす（横はずらさない）、上から下にy軸を0ずらす（上下はずらさない）、影の長さを10pxにする、という意味。 */
    /* rgba(0,0,0, .3) は不透明度まで指定できる色指定で、黒色の影を透過度は0.3で設定している*/
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    /* marginが中央に揃うようになる。 */
    margin: 0 auto;
}

header {
    background-color: #422814;
    padding: 10px;
    color: #fff;
}

/* セレクター */
/* https://developer.mozilla.org/ja/docs/Web/CSS/CSS_Selectors */
/* 半角空白を入れることで階層構造を指定することができる */
header h1 {
    margin: 0;
    font-size: 24px;
    /* 通常H1タグは太字になっているのでそれを解除 */
    font-weight: normal;
    /* text-align は CSS のプロパティで、ブロック要素または表セルボックスの水平方向の配置を設定します */
    /* https://developer.mozilla.org/ja/docs/Web/CSS/text-align */
    text-align: center;
}